* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import 'sass/colors';
@import 'sass/typography';


body {
  width: 100%;
  background: $white-light;
  box-sizing: content-box;
}


@import 'sass/spacing';
@import 'sass/layout';


body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}


