#page-home {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  h1 {
    font-size: 3rem;
  }
  aside {
    flex: 7;

    background: #835afd;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    max-width: 35%;

    img {
      max-width: 520px;
    }

    h2 {
      font-family: "Roboto";
      font-weight: 700;
      color: #fff;
      font-size: 2.6rem;
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    .content {
      text-align: center;
      width: 100%;

      form {
        margin: 0 auto;
        max-width: 600px;
      }
    }
  }
}
